pipeline/get_metadata_.json
{
	"name": "get_metadata_",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_sql_01",
						"type": "DatasetReference"
					},
					"fieldList": [
						"columnCount",
						"exists",
						"structure"
					]
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "output",
					"value": {
						"value": "@activity('Get Metadata1').output.structure[0].name",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"output": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-04-01T08:19:35Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}