pipeline/lookup_pipeline7.json
{
	"name": "lookup_pipeline7",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql_01",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "output",
					"value": {
						"value": "@activity('Lookup1').output.value[0].Status",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"output": {
				"type": "Integer"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-04-01T08:19:35Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}